<div class="header">
	<h1>HOUSING <span>RADIO</span></h1>
	<% if current_user %>
		<p><%= link_to 'Logout', sessions_destroy_path %></p>
		<p><%= current_user.name %></p>
		<div class="circular"><%= image_tag current_user.image %></div>
	<% else %>
		<p><%= link_to 'Login', '/auth/facebook'  %></p>
	<% end %>
</div>
<div class="song_view">

</div>
<div class="song_list">
</div>
