// Place all the styles related to the song_player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	background: #FFF;
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
}
div.song_view{
	background: #000;
	display: block;
	height: 400px;
}